*{
    margin: 0;
    padding: 0;
}
.navbar-white{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.navbar-white .nav-links li a{
    color: #000;
}

.host-white {
    color: black;
}
.profile-white{
    border: 0.2px solid #6B7280;
}
.navbar-white .active::after{
    background: #ff5361;
}
.loc-name{
    width: 60%;
}
#israre{
display: flex;
align-items: center;
margin-bottom: 5px;
font-size: 14px;
font-weight: 400;
color: #6B7280;
}
#israre img{
    width: 16px;
    height: 16px;
}
#issuperhosted{
display: flex;
align-items: center;
font-size: 14px;
font-weight: 400;
color: #6B7280;
}
.list-container{
    width: 90%;
    margin: auto;
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col{
    flex-basis: 60%;
}
.right-col{
      /* flex-basis: 38%; */
      position: sticky;
      top: 100px;
      right: 70px;
      width: 35%;
       height: 100vh; 
      overflow-y: auto;
}
.left-col>p{
    font-size: 16px;
    font-weight: 400;
    color: #6B7280;
    margin-bottom: 50px;
}
.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #E5E7EB;
}
.guest{
    margin-top: 50px;
    width: 50%;
    color: #6B7280;
    font-weight: 400;
    font-size: 14px;
}
.house-img{
    flex-basis: 40%;
}
.house-info{
    flex-basis: 58%;
    
}
.name-det{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.loc-name>p{
    color: #6B7280;
    font-weight: 400;
    font-size: 14px;
}
.house-img img{
    width: 100%;
    border-radius: 12px;
}
.loc-name h3{
    font-weight: 600;
    color:#374151;
    font-size: 22px;
    margin: 4px 0;
}
.house-ratings>p{
    font-size: 14px;
    font-weight: 400;
    color: #374151;
    display: flex;
    align-items: center;
}
.house-ratings>img{
    width: 20px;
    height: 20px;
}
.house-ratings>span{
    font-size: 14px;
    font-weight: 400;
    color: #374151;
}
.house-price h4{
    font-size: 18px;
    font-weight: 500;
    color: #374151;
    display: flex;
    align-items: center;
}
.house-det{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.house-price h4 span{
    font-size: 14px;
    font-weight: 400;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.pagination img{
    width: 15px;
    margin: 10px 20px;
}
.right-arrow{
    transform: rotate(180deg);
}
.pagination span{
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current{
    background: #333;
    color: #fff;
}