@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Inter', sans-serif;
}
header{

    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0;
    z-index: 25;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}
.active{
    position: relative;
}
.active::after {
    content: '';
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}

.nav-links li a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}
.right-nav{
    display: flex;
    align-items: center;
    gap: 2em;
}
.nav-links{
    margin-left: 120px;
}
.host{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.profile{
    background-color: white;
    padding: 5px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 0/3em;
}
main{
    width: 100%;
    
}
.container1{
    background-color: black;
    width: 100%;
    min-height: 92vh;
}
.search-bar{
    background: #fff;
    width: 70%;
    margin: auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1em;
   
}
.search-bar form div{
    width: 15%;
}
.search-bar form input{
    display: block;
    border: 0;
    width: 100%;
    outline: none;
    background: transparent;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background-repeat:  no-repeat;
    width: 15px;
    height: 15px;
    border-width: thin
}
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    
}
input::-webkit-datetime-edit-fields-wrapper {
    position: relative;
    left: 20%;
}
.hidden {
    display: none;
}

#guestDropdown {
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 190px;
}
#guestDropdown>div{
    display: flex;
    align-items: center;
    width: 100%;
    column-gap: 0.3em;
}

button[type=button]{
    background: #ff5361;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form #searchButton{
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}
.location-input{
    flex: 1;
}
.search-bar form label{
    font-weight: 600;
}
.big-card{
    background-image: url(images/Big-Card.png);
    width: 90%;
    margin: 30px auto;
    height: 75vh;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 1em;
}

.big-card>h2{
    color: #fff;
    line-height: 56px;
    font-size: 48px;
    font-weight: 500;

}
.big-card>button{
    background-color: white;
    border-radius: 20px;
    color: #671296;
    margin-bottom: 70px;
    box-shadow: 0px 1px 2px 0px #1F293714;
    border: none;
    padding: 10px 36px;
    font-size: 16px;
}
#inspiration-card{
    
    width: 302px;
    min-height: 400px;
    border-radius: 8px;
    color: white;

}
#inspiration-card>p{
    margin-left: 15px;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
   
}
#inspiration-card>p:last-child{
font-size: 18px;
font-weight: 400;
}
.inspiration{
    width: 90%;
    margin: 50px auto;
    
}
#inspiration-card:nth-child(1){
    background-color: #CC2D4A;
}
#inspiration-card:nth-child(2)
{
    background-color: #BC1A6E;
}
#inspiration-card:nth-child(3){
    background-color: #DE3151;
}
#inspiration-card:last-child{
    background-color: #D93B30;
}

.inspiration-card-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inspiration>h1{
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
}

.discover{
    width: 90%;
    margin: 50px auto;
}
.discover>h1{
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
}
.inside-discover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}
.discover-card{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-radius: 8px;
   padding-top: 50px;
   padding-left: 50px;
   gap: 1em;
   
}
.discover-card:nth-child(1){
    background-image: url(images/unsplash_qvO4yjZo-Mc.png);


}
.discover-card:last-child{
   background-image: url(images/unsplash_JYTWsPsIDcY.png);

}
.discover-card>p{
    color: #fff;
    line-height: 56px;
    font-size: 48px;
    font-weight: 500;
    display: flex;
    width: 50%;

}
.discover-card>button{
    background-color: white;
    border-radius: 8px;
    color: #374151;
    box-shadow: 0px 1px 2px 0px #1F293714;
    border: none;
    padding: 10px 36px;
    font-size: 16px;
    
}
.gift-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
}
.gift-text>p{
    font-size: 48px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 58%;

}
.gift-text>button{
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
}
.question-host{
    width: 90%;
    margin: 50px auto;
    background-image: url(images/unsplash_SV3e7hGlVnc.png);
    height: 85vh;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
}
.question-host>button{
    background-color: white;
    border-radius: 8px;
    color: #374151;
    box-shadow: 0px 1px 2px 0px #1F293714;
    border: none;
    padding: 10px 36px;
    font-size: 16px;
}
.question-host>h1{
    font-size: 96px;
    color: white;
    font-weight: 500;
    width: 50%;margin-left: 80px;
}
.future-gateways{
    width: 90%;
    margin: 100px auto;
    
}
.future-gateways>h1{
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 20px;
}
.future-location-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
}
.future-location{
    width: 24%;
    
}
.future-location>p:nth-child(1){
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
}
.future-location>p:last-child{
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
}
.future-destination{
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    column-gap: 2em;
}
.future-destination>li{
    font-size: 14px;
    font-weight: 400;
    color: #6B7280;

}
.future-destination>li:first-child{
    color: black;
    border-bottom: 1px solid black;
    height: 20px;

}
footer{
    width: 100%;
    background-color: #F9FAFB;
    margin-top: 100px;
}
.footer-div{
    width: 90%;
    margin:auto;
    padding: 50px 0;
    display: flex;
    align-items:baseline;
    gap: 8em;
}
.footer-div>ul{
 list-style: none;
 font-size: 14px;
 font-weight: 400;
 color: #6B7280;
 display: grid;
 gap: 0.5em;
}
.footer-div>ul li{
    line-height: 20px;

}
.footer-div>ul p{
    color: black;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
}
.sponser{
    width: 90%;
    margin: auto;
}